@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0; 
}

body {
    min-width: 414px;
    margin: 0 auto;
    background-color: rgba(122, 191, 191, .5);
    width: 90px;
}

main {
    background-color: #F2F2F2;
    min-width: 414px;
}

menu {
    padding: 0;
    display: flex;
    justify-content: space-around;
}

menu li {
    display: flex;
    list-style: none;
    text-align: center;
    color: #EB5428;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

h1, h2, h3, nav a, nav span, menu li, #social li, footer p {
    font-family: 'Bebas Neue', sans-serif;
}

h1 {
    font-size: 40px;
    padding-top: 185px; 
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

nav a, nav span, menu li, #social li, footer p {
    font-size: 20px;
}

h1, h2 {
    text-align: center;
    margin: 10px auto;
}

p, dd, .ingredients li, .directions li nav, input {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

p, ul, ol, dl {
    margin-left: 10px;
}

/* banner */
.banner {
    width: 100%;
}

.banner img {
    margin: 0 auto;
    width: 100%;
}

.banner p {
    padding-top: 5px;
    line-height: 25px;
}

.item {
    display: flex;
    margin: 0 10px 10px 5px;
}

dt {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

dd {
    margin-left: 10px;
}

.ingredients ul {
    margin-left: 20px;
}

.ingredients li {
    list-style-type: square;
    margin-bottom: 10px;
}

.ingredients h3 {
    text-align: center;
}

.directions {
    margin: 0;
}

.directions ol {
    padding: 25px;
}

.directions li {
    padding-bottom: 10px;
    padding-left: 10px;
    line-height: 25px;
}

/* aside */
aside {
    background-color: #7ABFBF;
    padding: 5px 0;
    width: auto; 
}

aside h3 {
    margin-top: 0;
    margin-bottom: 0;
}

aside .dishes {
    display: grid;
    padding-top: 10px;
    padding-bottom: 10px;
}

aside article {
    display: grid;
    height: auto;
    grid-template-columns: 1.2fr 3fr ;
    grid-template-rows: 35px auto auto;
    margin: 10px;
    grid-gap: 10px;
}

article p, .stars {
    margin: 0;
    grid-column: 2;
}

.stars p {
    font-weight: 700;
}

article img {
    display: flex;
    width: 80%;
    height: auto;
}

/* headings */

#dropdown h2 {
    visibility: hidden;
}

#social h3 {
    visibility: hidden;
}

#search h3 {
    visibility: hidden;
}

/* footer */
footer {
    background-color: #F2F2F2;
    padding: 10px 0 5px;
}

#social ul {
    display: grid;
    list-style-type: none;
    color: #EB5428;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding-bottom: 10px;
    margin: 0 auto;
}

#social li {
    display: grid;
    justify-content: space-around;
    justify-items: center;
    width: 55px;
    padding: 5px;
    margin: 0 auto;
}

footer img {
    width: 50%;
    display: block;
    margin: 0 auto;
}

footer p {
    text-align: center;
    padding: 5px;
}

/* dropdown */
#dropdown {
    display: grid;
    grid-template-columns: auto;
    position: fixed;
    background-color: #FFFFFF;
    top: 0;
    z-index: 1;
    min-width: 414px;
    width: 90px;
    min-height: 84px;
}

.items {
    margin: 15px 0;
}

nav img {
    display: none;
}

a {
    text-decoration: none;
    color: #EB5428;
}

label {
    cursor: pointer;
    grid-column: 1;
    padding: 6px 10px 8px;
    position: absolute;
    user-select: none;
}

.menu-btn input {
    display: none;
}

.menu-btn {
    height: 0;
}

input:checked ~ ul {
    max-height: 400px;
    transition: max-height 4s ease-out;
}

input:checked ~ label:not(.steps) div:before, input:checked ~ label:not(.steps) div:after {
    top: 0;
}

label span svg {
    border-radius: 50%;
    transition: all 2.5s ease;
}

input:checked + label span svg {
    border-radius: 50%;
    background-color: #EB5428;
}

.menu-icon span {
    display: grid;
    justify-items: center;
    font-size: 20px;
    border-radius: 15%;
    width: 10vw;
    margin-left: 10px;
    margin-top: 5px;
}

.menu-icon span:hover, .signin:hover {
    transform: scale(1.1, 1.1); 
}

.home {
    display: flex;
    top: 0;
    left: 20vw;
    width: 52vw;
    height: 84px;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #F2F2F2;
    background-color: #EB5428;
}

.signin {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    margin: 10px;
}

.signin a {
    color: #000000;
}

.signin svg {
    stroke: #EB5428;
}

nav ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-height: 0;
    transition: all 2.5s ease;
    background-color: #F2F2F2;
    grid-column: 1/4;
    margin-top: 28px;
}

#search {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 auto;
    width: 414px;
}

.searchbar {
    display: flex;
    position: inherit;
    top: 120px;
    left: 30px;
}

button {
    border: 3px solid #EB5428 ; 
    background-color: #EB5428;
    cursor: pointer;
    height: 49px;
    width: 60px;
}

button svg {
    stroke: #F2F2F2;
}

.searchbar input {
    height: inherit;
    width: 200px;
    border: 3px solid #EB5428;
}